<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ClassAjaxBankExample</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxDashboardServlet</display-name>
    <servlet-name>AjaxDashboardServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDashboardServlet</servlet-name>
    <url-pattern>/getDashboardView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxGetTxServlet</display-name>
    <servlet-name>AjaxGetTxServlet</servlet-name>
    <servlet-class>com.revature.servlets.AjaxGetTxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxGetTxServlet</servlet-name>
    <url-pattern>/getTxView</url-pattern>
  </servlet-mapping>
</web-app>